<div style="margin-top: 10px; margin-left: 10px; margin-right: 30%; padding: 0px; font-family: arial, sans-serif; font-size: 16px;">
	<p>
        {{ message }}
    </p>
    </br>    
    <div style="font-size: 16px; line-height: 130%;">
        <span style="font-weight: 600">{{ emailHeader }}</span>
       	<p>{{ email }}</p>
        </br>
        <span style="font-weight: 600">{{ moveNameHeader }}</span>
        <p>{{ moveName }}</p>
        </br>
        <span style="font-weight: 600">{{ moveTypeHeader }} </span>
       	<p>{{ moveType }}</p>
       	</br>
        <span style="font-weight: 600">{{ linkHeader }}</span>
        <p>{{ link }}</p>
	</div>
</div>